.taskLog {
  min-width: 400px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 10px;
  background-color: #f9f9f9;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.title {
  text-align: center;
  margin-bottom: 20px;
  font-size: 24px;
  color: #333;
}

.taskList {
  list-style-type: none;
  padding: 0;
}

.taskItem {
  padding: 15px;
  border-bottom: 1px solid #ccc;
  background-color: #fff;
  border-radius: 5px;
  margin-bottom: 10px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}

.taskItem:last-child {
  border-bottom: none;
}

.taskDetails {
  margin: 5px 0;
}

.taskLabel {
  font-weight: bold;
  color: #555;
}

.taskType{
  margin: 5px 0;
}